/* line 1, ../scss/styles.scss */
.topContainer {
  padding-right: 0px !important;
  padding-left: 0px !important;
  background-color: #9D2429;
}

/* line 7, ../scss/styles.scss */
.bannerContainer {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

/* line 12, ../scss/styles.scss */
.bottomContainer {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

/* line 17, ../scss/styles.scss */
.logoArea {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

/* line 22, ../scss/styles.scss */
.logoPicture {
  max-height: 150px;
}

/* line 26, ../scss/styles.scss */
div.navbar-findcond a {
  color: #f14444;
}

/* line 27, ../scss/styles.scss */
div.navbar-findcond ul.navbar-nav a {
  color: #f14444;
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: #fff;
}

/* line 31, ../scss/styles.scss */
div.navbar-findcond ul.navbar-nav a:hover,
div.navbar-findcond ul.navbar-nav a:visited,
div.navbar-findcond ul.navbar-nav a:focus,
div.navbar-findcond ul.navbar-nav a:active {
  background: #fff;
}

/* line 32, ../scss/styles.scss */
div.navbar-findcond ul.navbar-nav a:hover {
  border-color: #f14444;
}

/* line 33, ../scss/styles.scss */
div.navbar-findcond li.divider {
  background: #ccc;
}

/* line 34, ../scss/styles.scss */
div.navbar-findcond button.navbar-toggle {
  background: #f14444;
  border-radius: 2px;
}

/* line 35, ../scss/styles.scss */
div.navbar-findcond button.navbar-toggle:hover {
  background: #999;
}

/* line 36, ../scss/styles.scss */
div.navbar-findcond button.navbar-toggle > span.icon-bar {
  background: #fff;
}

/* line 37, ../scss/styles.scss */
div.navbar-findcond ul.dropdown-menu {
  border: 0;
  background: #fff;
  border-radius: 4px;
  margin: 4px 0;
  box-shadow: 0 0 4px 0 #ccc;
}

/* line 38, ../scss/styles.scss */
div.navbar-findcond ul.dropdown-menu > li > a {
  color: #444;
}

/* line 39, ../scss/styles.scss */
div.navbar-findcond ul.dropdown-menu > li > a:hover {
  background: #f14444;
  color: #fff;
}

/* line 40, ../scss/styles.scss */
div.navbar-findcond span.badge {
  background: #f14444;
  font-weight: normal;
  font-size: 11px;
  margin: 0 4px;
}

/* line 41, ../scss/styles.scss */
div.navbar-findcond span.badge.new {
  background: rgba(255, 0, 0, 0.8);
  color: #fff;
}

/* line 44, ../scss/styles.scss */
.navbar-collapse ul {
  margin: 10px;
  padding: 0px;
  list-style: none;
}
/* line 52, ../scss/styles.scss */
.navbar-collapse a {
  margin-left: 15px;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: bold;
  text-decoration: none;
}

/* line 61, ../scss/styles.scss */
.bannerImage {
  width: 100%;
  height: 400px;
  padding: 0px;
  margin-bottom: 25px;
}

/* line 68, ../scss/styles.scss */
#slider {
  width: 720px;
  height: 400px;
  overflow: hidden;
}

/* line 74, ../scss/styles.scss */
#slider .slides {
  display: block;
  width: 320px;
  height: 240px;
  margin: 0px;
  padding: 0px;
}

/* line 82, ../scss/styles.scss */
#slider .slide {
  float: left;
  list-style-type: none;
  width: 720px;
  height: 400px;
}

/* line 89, ../scss/styles.scss */
.slider {
  height: 320px;
}

/* line 93, ../scss/styles.scss */
.slider img {
  display: none;
}

/* line 97, ../scss/styles.scss */
header {
  margin: 0 auto;
  background-color: #9D2429;
}

/* line 102, ../scss/styles.scss */
footer {
  height: auto;
  background-color: #9D2429;
}

/* line 107, ../scss/styles.scss */
footer p {
  color: white;
  font-size: 16px;
  text-align: center;
  margin-top: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}
